.up.animate > * {
  transform: translateY(150px);
}
.left.animate > * {
  transform: translateX(-100px);
}
.right.animate > * {
  transform: translateX(100px);
}
:where(.up, .left, .right).animate > * {
  opacity: 0;
  transition: transform 1s 1s,
    opacity 1s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
:where(.up, .left, .right).animate.this > * {
  transform: translateY(0) translateX(0);
  opacity: 1;
}

:where(.up, .left, .right).animate.this > *:nth-child(2) {
  transition-delay: 0.5s;
}
:where(.up, .left, .right).animate.this > *:nth-child(3) {
  transition-delay: 0.7s;
}
:where(.up, .left, .right).animate.this > *:nth-child(4) {
  transition-delay: 0.9s;
}
:where(.up, .left, .right).animate.this > *:nth-child(5) {
  transition-delay: 1.1s;
}
:where(.up, .left, .right).animate.this > *:nth-child(6) {
  transition-delay: 1.3s;
}
