.formblog .bg-dark {
  top: -10em;
  transform: rotate(180deg);
}

.formblog .post-list ul,
footer .wrapper {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}

.formblog .cat a {
  padding: 0.5em;
  color: var(--secondary-color);
  background-color: #ff25251a;
  border-radius: 5px;
}

.formblog .post-list .date {
  font-size: 0.813em;
}

.formblog .post-list h2 {
  font-size: 1.25em;
  white-space: normal;
}
